.vs/Polynomials ( using d_linked lists)/
Debug/
Polynomials ( using d_linked lists).sln
Polynomials ( using d_linked lists)/*vcx*
Polynomials ( using d_linked lists)/test_poly.cpp
Polynomials ( using d_linked lists)/Debug/