.vs/Polynomial (using dynamic arrays)/
Debug/
Polynomial (using dynamic arrays).sln
Polynomial (using dynamic arrays)/Debug/
Polynomial (using dynamic arrays)/*vcx*
Polynomial (using dynamic arrays)/test_poly.cpp