.vs/Node for linked list (using templates)
Debug/
Node for linked list (using templates).sln
Node for linked list (using templates)/Debug/
Node for linked list (using templates)/my_test.cpp
Node for linked list (using templates)/*vcx*